#!/bin/sh

export LANG=C

push_status() {
    for i in 1 2 3 4 5; do
        curl -s -o /dev/null "https://status.dd-ix.net/api/push/{{ uptimekuma_bird_token }}?status=$1&msg=$2&ping=$3" && break
        sleep 2
    done
}

if birdc "show status" | grep -q "Daemon is up and running"; then
    count=$(birdc "show protocol"|grep "  up  "|wc -l)
    if [ "$count" -gt 7 ]; then
        push_status up OK "$count"
    else
        push_status down OK "$count"
    fi
else
    push_status down DOWN 0
fi
